{% for proyectos in listaproyectos | reverse %}
	{# <article class="project">
		<img src="{{ proyectos.data.thumb }}" alt="{{proyectos.data.title}}">
		
		<div class="info" style="background-color: {{ proyectos.data.color }};">
			<h3>{{ proyectos.data.title }}</h3>
			<p>{{ proyectos.data.type }}</p>
			<p>{{ proyectos.data.year }}</p>
			<a class="btn btn-primary" href="{{ proyectos.url | url }}">VER</a>
		</div>
	</article> #}

	<article class="project-card">
		<img loading="lazy" src="{{ proyectos.data.thumb }}" alt="{{proyectos.data.title}}">
		
		<a class="info info-expand" href="{{ proyectos.url | url }}">
			<h3>{{ proyectos.data.title }}</h3>
			<p>{{ proyectos.data.year }}</p>
		</a>
		
	{# {% if proyectos.data.type %}
				<p class="tag">{{ proyectos.data.type }}</p>
			{% endif %} #}
		
	</article>
{% endfor %}
