---
layout: base.njk
---
<main id="swup" class="transition-fade single-project">
	<div class="container">
		<div class="project-info">
			<h1>{{ title }}</h1>
			<div class="project-data">
				<p>{{ year }}</p>
				<p>{{ duration }}</p>
				<p>{{ rol }}</p>
				<p>{{ type }}</p>
				<a href="{{ url }}" target="_blank"> Ir al sitio</a>
			</div>
			
		</div>
		<div class="project-intro stack">
			{{ content | safe}}
		</div>
		{# <img src="{{ image }}" alt=""> #}
	</div>
</main>
