---
layout: base.njk
title: 404 Página no encontrada
permalink: 404.html
---

<main id="swup" class="transition-fade page-404">
	<div class="container text-center">
		<h1>Nooo!!! You have the mixture all wrong!</h1>
		<h2>{{title}}</h2>
		<iframe width="100%" height="480" src="https://www.youtube.com/embed/pbhz-h_6AOA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<a class="btn btn-primary" href="/">Volver al inicio</a>
	</div>
</main>